<h2 mat-dialog-title>Thêm chuyên khoa</h2>
<mat-dialog-content class="min-width-400" style="overflow-x: hidden;">
    <div class="avatar">
        <img width="150px" height="150px" class="avatar" [src]="avatarSrc">
        <input type="file" id="selectedFile" style="display: none;" (change)="onImageChange($event)"
               accept="image/*"/>
        <span class="icon-upload"><i class="fas fa-upload" style="cursor: pointer; font-size: 18px"
                                     onclick="document.getElementById('selectedFile').click();"></i></span>
    </div>
    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm">
        <mat-form-field class="full-width">
            <input type="tel" class="input" placeholder="Tên"
                   [(ngModel)]="model.name"
                   formControlName="specialistName" required matInput>
        </mat-form-field>
        <mat-error *ngIf="userForm.controls['specialistName'].errors && userForm.controls['specialistName'].touched"
                   class="help is-danger">
            Tên có ít nhất 1 ký tự và dài nhất 100 ký tự
        </mat-error>
        <mat-form-field class="full-width">
            <input type="text" class="input" placeholder="Mô tả" [(ngModel)]="model.description"
                   formControlName="description" required matInput>
        </mat-form-field>
        <mat-error *ngIf="userForm.controls['description'].errors && userForm.controls['description'].touched"
                   class="help is-danger">
            Mô tả có ít nhất 1 ký tự và nhiều nhất 4000 ký tự
        </mat-error>
        <mat-form-field class="full-width">
                <textarea type="text" class="input" placeholder="Câu hỏi thường gặp" [(ngModel)]="model.listQuestion" rows="5"
                          formControlName="listQuestion" matInput></textarea>
        </mat-form-field>
        <div style="color: #ff7500;font-size: 14px; font-weight: bold">Chú ý: Mỗi câu hỏi được ngăn cách bởi dấu Enter</div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button [disabled]="userForm.invalid" color="primary" (click)="onSubmit()">Lưu</button>
    <button mat-raised-button (click)="cancel()">Hủy</button>
</mat-dialog-actions>
