$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';

.#{$prefix} {

    &-conainer {
        min-height: 100%;
        background-size: cover;
        padding: 100px;
    }

    &-main {
        position: relative;
        margin: 0 auto;
        width: 500px;
    }
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo {
    margin-bottom: 16px;
    width: 150px;
    height: 150px;
}

.full-width {
    width: 100%;
}

.help {

}

.is-danger {
    color: red;
}

.redirect {
    font-size: 14px;
    margin-left: 10px;
    color: #00AAAA;
}
.loader-container {
    display: none;
}
