<h2 mat-dialog-title>Thông tin chi tiết chat</h2>
<mat-dialog-content style="min-width: 500px">
    <table>
        <tbody>
        <tr>
            <td class="label">Bệnh nhân:</td>
            <td>{{videoCallDetail?.patientDetail.fullName}}</td>
        </tr>
        <tr>
            <td class="label">Bác sĩ:</td>
            <td>{{videoCallDetail?.doctorDetail.fullName}}</td>
        </tr>
        <tr>
            <td class="label">Ngày tạo:</td>
            <td>{{videoCallDetail?.createdAtFormatted}}</td>
        </tr>
        <tr>
            <td class="label">Thời gian gọi:</td>
            <td>{{videoCallDetail?.callLength}}</td>
        </tr>
        <tr>
            <td class="label">Link video:</td>
            <td><a target="_blank" routerLink="/api/download/{{videoCallDetail.linkVideo}}"><i class="icon fas fa-download"></i></a></td>
        </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="ok()">OK</button>
</mat-dialog-actions>
